.st0 { fill: #fff; }
.st1 { font-family: 'Amatic', 'Arial Narrow Bold', sans-serif; }
.st2 { font-size: 39.523px; }
.st3 { fill: #e2cd2a; }
.st4 { fill: #c12f3f; }
.st5 { fill: #343131; }
.st6 { font-size: 35.4px; }

.daiquiri_img {
  max-width: 210px;
}
