html {
  overflow-x: hidden !important;
  background-color: rgb(63, 63, 63);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family:
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(17, 16, 16);
  max-width: 1100px;
  margin: auto;
}

code {
  font-family:
    'Ubuntu',
    'Cantarell',
    'Courier New',
    monospace;
}

@font-face {
  font-family: 'sunglory';
  src: url(../assets/sunglory.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Amatic';
  src: url(../assets/Amatic-Bold.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Colby';
  src: url(../assets/Colby-CpExtL2t.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Seaside';
  src: url(../assets/Seaside.otf);
  font-weight: normal;
}

.sunglory {
  color: white;
  font-family: 'sunglory', 'Courier New', Courier, monospace;
  line-height: 15px;
  font-size: 20px;
  text-align: start;
  padding: 0;
  margin: 0;
  width: 100%;
}

.title {
  color: #e9bf46;
  text-align: center;
  font-size: 70px;
  font-family: 'Seaside', 'Courier New', Courier, monospace;
}

.subtitle {
  font-family: 'Amatic', 'Courier New', Courier, monospace;
  font-size: 25px;
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

.price_text {
  font-family: 'Amatic', 'Courier New', Courier, monospace;
  font-size: 70px;
}

button {
  border: none;
  background: #e0bf03;
  min-width: 25px;
  min-height: 25px;
  width: 30px;
  height: 30px;
  color: #fff !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding-bottom: 5px;
}

button:hover {
  color: #ebc803 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  border: 1px solid #ebc803;
  background: none;
  -webkit-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

p,
div {
  user-select: none;
}

.w-max {
  max-width: 700px;
  margin: auto;
}
