.tag {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 30px;
  max-width: 50px;
  width: 80%;
  align-self: center;
  transform: translate(-50%, -50%);
  text-align: center;
}

.product_name {
  font-size: 35px;
  font-family: 'Colby', 'Courier New', Courier, monospace;
  color: white;
}

.salad {
  max-width: 400px;
  width: 100%;
}
